/* Tuliskan seluruh kode CSS yang dibutuhkan bagi halaman web di sini */
/* menggunakan box sizing untuk semua halaman */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* START: mengatur logo dan navbar di atas */
header.navbar-container {
  width: 100%;
  max-width: 1200px;
  padding-block: 1rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 9999;
}

header.navbar-container .logo img {
  width: 150px;
}
/* END: mengatur logo dan navbar di atas */

/* START: mengatur navbar */
header.navbar-container .nav-list ul {
  padding-left: ul;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}

header.navbar-container .nav-list li {
  list-style-type: none;
}

header.navbar-container .nav-list li a {
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  color: black;

  transition: all 0.2 ease-in-out;
}

header.navbar-container .nav-list li:hover a {
  background-color: #425c77;
  color: white;
}
/* END: mengatur navbar */

/* START: desain main */
main {
  flex: 1;
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;

  padding: 2rem 4rem;
  display: flex;
  align-items: center;
}

/* desain content text dan gambar logo */
main .content {
  flex: 1;
  display: flex;
  align-items: center;

  /* display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  gap: 3rem; */
}

/*  desain class content-description h1 & p */
main .content .content-description {
  flex: 1 1;
}

main .content .content-description .title {
  margin-block: 1rem;
  font-size: 3.5rem;
}

main .content .content-description p {
  font-size: 1.2rem;
  line-height: 1.7rem;
}

main .content .content-description button {
  padding: 0.8rem 2.5rem;
  border: 3px solid transparent;

  border-radius: 999px;
  margin-block-start: 1rem;

  background-color: #2d3e50;

  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: white;

  cursor: pointer;
  transition: all 0.15s ease-in;
}

main .content .content-description button:hover {
  border: 3px solid #2d3e50;
  background-color: transparent;
  color: #2d3e50;
}

main .content .content-image {
  flex: 1;
  display: flex;
}

main .content .content-image img {
  width: 300px;
  min-width: 250px;
  margin: auto;
  /* max-width: 100%;
  width: 300px; */
}
/* END: desain main */

/* START: desain main: aside */
main aside {
  position: fixed;
  inset-block: 0;
  inset-inline-end: 0;
}

main aside .social-media {
  height: 100%;
  display: flex;
}

main aside .social-media ul {
  padding: 1.5rem 1rem;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  margin: auto;
  background-color: #2d3e50;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

main aside .social-media li {
  list-style-type: none;
}

main aside .social-media .fab {
  color: white;
}
/* END: desain main: aside */

/* START: atur desain ukuran mobile */
@media query and (max-width: 768px) {
  header.navbar-container {
    flex-direction: column;
  }

  header.navbar-container .nav-list ul {
    flex-wrap: wrap;
    column-gap: 0.5rem;
  }

  main {
    padding: 1rem 3rem;
  }

  main .content {
    flex-direction: column;
    gap: 2rem;
  }

  main .content .content-description .title {
    font-size: 3rem;
  }

  main .content .content-description p {
    font-size: 1rem;
  }

  main .content .content-image {
    order: -1;
  }
}
/* END: atur desain ukuran mobile */
