* {
  box-sizing: border-box;
}

/* style index.html */
header.navbar-container {
  width: 100%;
  max-wdith: 1200px;
  padding-block: 1rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 9999;

  border: 1px solid red;
}

.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: ;
}

.navbar-logo img {
  width: 60px;
}

header.navbar-container nav ul {
  display: flex;
  list-style-type: none;
  gap: 2rem;
  justify-content: center;
}

/* style cv.html */
.parent {
  width: 800px;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 2px solid black;
  padding: 20px;
}

header.kop {
  margin-bottom: 2rem;
}

/* edit position header hero */
article.hero {
  text-align: center;
}

address.contact {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.contact a {
  text-decoration: none;
}

.contact a:hover {
  color: red;
}

/* edit main content */
/* 
section.academic {
  margin-bottom: 1.5rem;
}

section.work-experience {
  margin-bottom: 1.5rem;
}

section.org-experience {
  margin-bottom: 1.5rem;
}

section.main-skill {
  margin-bottom: 1.5rem;
}

section.course {
  margin-bottom: 1.5rem;
}

section.language {
  margin-bottom: 1.5rem;
} */

section.main-content {
  margin-bottom: 1.5rem;
}
