* {
  border-sizing: border-box;
}

.parent {
  width: 800px;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 2px solid black;
  padding: 20px;
}

header.kop {
  margin-bottom: 2rem;
}

/* edit position header hero */
article.hero {
  text-align: center;
}

address.contact {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.contact a {
  text-decoration: none;
}

/* edit main content */
/* 
section.academic {
  margin-bottom: 1.5rem;
}

section.work-experience {
  margin-bottom: 1.5rem;
}

section.org-experience {
  margin-bottom: 1.5rem;
}

section.main-skill {
  margin-bottom: 1.5rem;
}

section.course {
  margin-bottom: 1.5rem;
}

section.language {
  margin-bottom: 1.5rem;
} */

section.main-content {
  margin-bottom: 1.5rem;
}
