h1 {
  color: green;
  margin-top: 20px;
}

.contact-person {
  text-decoration: none;
  font-weight: bold;
}

.navbar-header {
  text-decoration: none;
  color: red;
  font-weight: bold;
}

.navbar-header:hover {
  color: blue;
}

.footer {
  background-color: blue;
}
